{% extends "root.html" %}
{% load static %}

{% block title %}
{{ page_title | default:"Cstack" }}
{% endblock %}

{% block header %}
{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if user %}
<p>welcome, {{ user.username }}!</p>
<a href="{% url 'myauth:logout' %}">log out</a>
{% else %}
<a href="{% url 'myauth:login' %}">log in</a>
{% endif %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 mx-auto">
                <a
                        href="{% url 'myauth:profile' %}"
                        class="btn btn-primary btn-lg"
                        role="button">
                    my profile
                </a>
                <a
                        href="{% url 'cards:list' %}"
                        class="btn btn-primary btn-lg"
                        role="button">
                    catalog
                </a>
                <a
                        href="#"
                        class="btn btn-primary btn-lg"
                        role="button">
                    search
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
